- name: Download and install nvm
  shell: curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh | bash
  become: true

- name: Source nvm
  shell: . "$HOME/.nvm/nvm.sh"
  become: true

- name: Install Node.js v22
  shell: nvm install 22
  become: true

- name: Verify Node.js version
  shell: node -v
  register: node_version
  become: true
  changed_when: false

- name: Assert Node.js version
  assert:
    that: node_version.stdout == "v22.14.0"
    msg: "Node.js version is not v22.14.0"

- name: Verify nvm current version
  shell: nvm current
  register: nvm_current_version
  become: true
  changed_when: false

- name: Assert nvm current version
  assert:
    that: nvm_current_version.stdout == "v22.14.0"
    msg: "nvm current version is not v22.14.0"

- name: Verify npm version
  shell: npm -v
  register: npm_version
  become: true
  changed_when: false

- name: Assert npm version
  assert:
    that: npm_version.stdout == "10.9.2"
    msg: "npm version is not 10.9.2"
